<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.roy.devil">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".VictorApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.FollowAnimationActivity"
            android:screenOrientation="portrait"
            android:label="@string/follow_animation"/>

        <activity android:name=".activities.DrawSmallIconActivity"
            android:screenOrientation="portrait"
            android:label="@string/draw_small_icon"/>

        <activity android:name=".activities.CustomWidgetActivity"
            android:screenOrientation="portrait"
            android:label="@string/custom_widget"/>

        <activity android:name=".activities.PopupLayerActivity"
            android:screenOrientation="portrait"
            android:label="@string/popup_layer"/>

        <activity android:name=".widget.PrivacyPolicyDialog"
            android:theme="@style/dialog_appCompat"/>

        <activity android:name=".activities.ViewPagerActivity"
            android:screenOrientation="portrait"
            android:label="@string/view_pager"/>

        <activity android:name=".activities.LazyViewPagerActivity"
            android:screenOrientation="portrait"
            android:label="@string/lazy_view_pager"/>

        <activity android:name=".activities.MusicActivity"
            android:screenOrientation="portrait"
            android:label="@string/music"
            android:launchMode="singleTop"/>

        <service android:name=".MusicService"/>
    </application>
</manifest>
